<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS"/>
    <uses-permission android:name="android.permission.BLUETOOTH" android:maxSdkVersion="30" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" android:maxSdkVersion="30" />
    <uses-permission android:name="android.permission.BLUETOOTH_SCAN" />
    <uses-permission android:name="android.permission.BLUETOOTH_CONNECT" />

    <uses-feature android:name="android.hardware.bluetooth_le" android:required="false" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="Auto Delivery"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AutoDeliveryApp">

        <service
            android:name=".FCMNotificationService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT"/>
            </intent-filter>
        </service>

        <activity android:name=".LoginActivity"
            android:exported="true"
            android:windowSoftInputMode="adjustResize">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <!-- Authentication -->
        <activity android:name=".RegisterActivity"
            android:windowSoftInputMode="adjustResize"/>
        <activity android:name=".ForgotPasswordActivity"
            android:windowSoftInputMode="adjustResize"/>

        <!-- Bottom Navigation (main page) -->
        <activity android:name=".MainActivity"
            android:launchMode="singleTask"/>
        <activity android:name=".HistoryActivity"
            android:launchMode="singleTask"/>
        <activity android:name=".NotificationActivity"
            android:launchMode="singleTask"/>
        <activity android:name=".ProfileActivity"
            android:launchMode="singleTask"/>

        <activity android:name=".CreateTaskActivity"
            android:windowSoftInputMode="adjustResize"/>
        <activity android:name=".TrackingActivity"/>

    </application>
</manifest>