node_modules/
serviceAccountKey.json
.env
*.env
__pycache__/
venv/
.venv/
.idea/
.pio/
*.log
.vscode/
compile_commands.json

# ===== Android & Build Logs =====
.gradle/
build/
*.log
*.xml
local.properties

