{
  "project_info": {
    "project_number": "689835179877",
    "project_id": "auto-delivery-e0327",
    "storage_bucket": "auto-delivery-e0327.firebasestorage.app",
    "firebase_url": "https://auto-delivery-e0327-default-rtdb.asia-southeast1.firebasedatabase.app"
  },
  "client": [
    {
      "client_info": {
        "mobilesdk_app_id": "1:689835179877:android:69eb0175436b921e52ab8c",
        "android_client_info": {
          "package_name": "com.example.autodeliveryapp"
        }
      },
      "oauth_client": [],
      "api_key": [
        {
          "current_key": "Firebase_API_Key"
        }
      ],
      "services": {
        "appinvite_service": {
          "other_platform_oauth_client": []
        }
      }
    }
  ],
  "configuration_version": "1"
}
